
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container ">
    <div class="panel-group" id="faqAccordion">
        {{range $key,$val := .Params}}
        {{$items := split $val "|"}}
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#{{$key}}">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: {{index $items 0}}</a>
                </h4>

            </div>
            <div id="{{$key}}" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>

                    <p>{{index $items 1}}</p>
                </div>
            </div>
        </div>
        {{end}}

    </div>
    <!--/panel-group-->
</div>

